@media screen and (min-width: 768px) {

    /* Desktop Nav Bar */

    .item-menu {
        display: none;
    }

    .logo{
        display: flex;
        width: 30%;
    }

    .logo  img{
        width: 30%;
    }
    
    header{
    height: 10vh;
    }

 .desktop-ul{
   width: 100%;
   padding-top: 2rem;
   display: flex;
   list-style-type: none;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   left: 29%;
   position: absolute;
    }
    
.desktop-ul .desktop-link a{
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 20px;
   color: #272a31;
 }

  /* Home page */

  .home-page{
    background-position: 60rem 0;
  }

  .heading{
    margin-left: 11%;
    font-size: 43px;
  }

  .big-heading{
    margin-left: 11%;
  }

  .para{
    margin-left: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 55%;
    margin-top: 3%;
  }

  .date{
    margin-left: 11%;
    margin-top: 2%;
    font-size: 40px;
    font-weight: bolder;
    color: #272a31;
  }

  .location{
    margin-left: 11%;
    font-size: 19px;
    font-weight: 600;
  }

  /* About Section */

  .about-section{
    margin-top: -5%;
    padding-top: 5%;
  }

  .hr{
    width: 12%;
    margin-left: 44%;
    margin-top: 0;
    margin-bottom: 5%;
  }

  .about-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
  }

  .list-item h3{
    display: flex;
    flex-direction: column;
  }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    color: white;
    font-family: lato,sans-serif;
    font-size: 20px;
    font-weight: 900;
  }

  .button{
    display: none;
  }

}