@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700&display=swap');


* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 25%;
  background-color: white;
}
/* Menu changes */
.menu-icon {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: #EC5242;
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px);
  text-align: left;
  display: none;
}

.item-closed {
  margin-left: 280px;
  padding-top: 5%;
}

.menu-icon .close {
  padding-top: 50px;
  text-align: right;
  padding-right: 38px;
  font-weight: lighter;
}

.mobile-nav {
  padding: 15px 28px;
}

header a {
  margin: 0 12px;
  font-size: 18px;
}


.menu-icon a {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  margin-top: 4%;
}

.menu-icon .close a {
  font-weight: lighter;
  font-size: 22px;
}
/* Menu changes finish */
.item-menu {
  float: left;
  padding: 10px;
  cursor: pointer;
}

.item-menu:hover{
  color: #EC5242;
}

header a {
  margin: 0 12px;
  font-size: 18px;
}

nav a {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  text-decoration: none;
  color: grey;
  display: flex;
}

.desktop-ul {
  display: none;
}

.logo {
  display: none;
}

/* Home Page */

.home-page{
  background-image: url("./images/background\ image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.heading {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 25px;
  margin-top: 5%;
  color: #EC5242;
}

.big-heading {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 44px;
  /* background-image:url(./images/toronto\ sunset\ pic.webp) */
  color: #EC5242;
  margin: 0;
}

.para {
  font-size: 1.2rem;
  padding: 1.5rem;
  border: 4px solid #f3f2f2;
  background-color: #f2efef;
  color: #272a31;
  margin-bottom: 0.7rem;
  line-height: 1.5rem;
  width: 90%;
  height: min-content;
   margin-left: 1rem;
   margin-top: 10%;
}

.date {
  color: #272A31;
  font-size: 24px;
  font-weight: 900;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 2%;
}

.location {
  color: #272A31;
  margin-left: 1%;
  font-size: 15px;
}

/* Main section  */

.about {
  background-color: #272A31;
  height: 810px;
  background-image: url("./images/background\ of\ main\ section.png");
  background-repeat: repeat;
  background-position: center;
}

.about-section {
  padding-top: 9%;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 11%;
  border: 1px solid #EC5242;
  margin-left: 45%;
  margin-top: 1%;
  margin-bottom: 10%;
}

.list-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #272A31;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: #756d6d;;
}

.list-item h3 {
width: 25%;
color: #EC5242;
}

.graph{
  width: 50%;
  padding: 1rem;
  color: white;
}

.end{
  display: none;
}

.button{
  background-color: #EC5242;
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  margin-top: 1rem;
}
